<footer class="site-footer">
	<div class="wrapper">
		<div class="social-media-list">
			{% include svg-icons.html %}
		</div>
		<div class="footer-col footer-col-3">
			<p>{{ site.description | escape }}</p>
		</div>
	</div>
</footer>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad1-blog -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0343541018267440"
     data-ad-slot="8291719890"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>