<article>
	<header>
		<h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
	</header>
	<footer>
		{% include article-header.md article=post %}

		{% if post.image %}
		<a href="{{ post.url | relative_url }}" class="post-banner" style="background-image: url({{ post.banner | relative_url }}); min-width: 100%; max-height: 200px;overflow-y:hidden;display:block;">
			<img src="{{ post.image | relative_url }}" alt="{{ post.title }}" style="{{ post.imageStyle }}"/>
		</a>
		{% else %}
		<a href="{{ post.url | relative_url }}" class="post-banner no-image">
			<img src="{{ 'no-image.png' | absolute_url }}" alt="{{ post.title }}" style="min-width: 100%;"/>
		</a>
		{% endif %}
	</footer>
	<p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 100}} [<a href="{{ post.url | relative_url }}">read more</a>]</p>
</article>