<div class="share-links">
  <span>Share this story</span>
  <a href="https://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}" target="_blank" class="social-icon share-facebook" title="Share on Facebook"></a>
  <a href="https://twitter.com/share?text={{ page.title }}&amp;url={{ page.url | absolute_url }}" target="_blank" class="social-icon share-twitter" title="Share on Twitter"></a>
  <a href="https://www.reddit.com/submit?url={{ page.url | absolute_url }}&amp;title={{ page.title }}" target="_blank" class="social-icon share-reddit" title="Share on Reddit"></a>
  <a href="https://plus.google.com/share?url={{ page.url | absolute_url }}" target="_blank" class="social-icon share-gplus" title="Share on Google+"></a>
</div>